#accordionNotification1 {

    font-family: "general";

    width: 50%;

    margin: auto;
    border-radius: 10px;
    padding-top: 15px;

}

.registration-form {

    font-family: "general";
    position: absolute;

    width: 50%;

    margin: auto;
    margin-top: 40px;

    border: 2px solid gray;
    border-radius: 10px;
    padding: 30px;

}

#welcomeText {
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.registration-form > .form-floating {
    margin-bottom: 10px;
}

.registration-form > .row {
    margin-bottom: 20px;
}

.registration-form > .form-check {
    margin-bottom: 30px;
}

#checkIDValidityButton {
    height: 70%;
}

#checkEmailValidityButton {
    height: 70%;
    font-size: 13px;
    font-weight: bold;
}

#registrationSubmitButton {
    margin-left: 40%;
}